.homeContainer {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
}
.homeContent {
  text-align: center;
}
.convText {
  margin-top: 118px;
  font-weight: 400;
  font-size: 50px;
  color: #b7f7bd;
}
